[Unit]
Description=start goimapnotify for various mailboxes
# OnFailure=status-email-user@%n.service
After=local-fs.target
After=network.target


[Service]
Restart=always
RestartSec=300
ExecStart=%h/go/bin/goimapnotify -debug -wait 0 -conf %h/.config/goimapnotify/%i.conf
KeyringMode=shared

[Install]
WantedBy=default.target
# https://usher.dev/posts/my-email-setup/
