[Unit]
Description=start goimapnotify for various mailboxes
# OnFailure=status-email-user@%n.service
After=local-fs.target
After=network.target
StartLimitIntervalSec=3600
StartLimitBurst=5


[Service]
Restart=always
RestartSec=60
ExecStart=goimapnotify -debug -wait 0 -conf %h/.config/goimapnotify/%i.yaml
KeyringMode=shared

[Install]
WantedBy=default.target
# https://usher.dev/posts/my-email-setup/
