[Unit]
Description=Mail Sync medium frequency
#OnFailure=status-email-user@%n.service
After=local-fs.target
After=network.target


[Service]
Type=oneshot
ExecStart=%h/.config/emailconfiguration/mailsync-medium


# https://usher.dev/posts/my-email-setup/
