[Unit]
Description=Sync mail with mbsync
OnFailure=status-email-user@%n.service
After=local-fs.target
After=network.target


[Service]
Type=oneshot
Nice=10
ExecStart=/home/fbence/.local/bin/mbsync -a

[Install]
WantedBy=default.target

# https://usher.dev/posts/my-email-setup/
