[Unit]
Description=Sync mail with mbsync
OnFailure=status-email-user@%n.service
After=local-fs.target
After=network.target


[Service]
Type=oneshot
ExecStart=-/home/fbence/.local/bin/mbsync -a
ExecStartPost=/usr/local/bin/notmuch new


# https://usher.dev/posts/my-email-setup/
