[Unit]
Description=mbsync all
OnFailure=status-email-user@%n.service
After=local-fs.target
After=network.target


[Service]
Type=oneshot
ExecStart=/home/fbence/.local/bin/mbsync


# https://usher.dev/posts/my-email-setup/
