[Unit]
Description=throttle service

[Service]
ExecStartPre=/bin/sleep 5
ExecStart=%h/.local/bin/throttle --server --LOGLEVEL DEBUG
Type=simple
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
