[Unit]
Description=throttle service

[Service]
ExecStart=%h/.local/bin/throttle --server --LOGLEVEL DEBUG
Type=simple
Restart=always
RestartSec=3
KeyringMode=shared

[Install]
WantedBy=default.target
