[user]
	email = bence@ferdinandy.com
	name = Bence Ferdinandy
[credential "smtp://bence%40ferdinandy.com@mail.securebox.hu%3a465"]
	helper = "!f() { test \"$1\" = get && echo \"password=$(pass show webmail.securebox.hu/ferdinandy | head -n1)\"; }; f"
[sendemail]
	smtpserver = mail.securebox.hu
	smtpuser = bence@ferdinandy.com
	smtpencryption = ssl
	smtpserverport = 465
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = fugitive
[core]
	excludesfile = /home/fbence/.gitignore
[mergetool "fugitive"]
	cmd = vim -c \"Gvdiffsplit!\" \"$MERGED\"
[init]
	defaultBranch = master
[rebase]
	autoSquash = true
#TODO just copied this, so do a readup
[alias]
	s = status --short --branch
	ri = rebase -i
	ra = rebase --abort
	rc = rebase --continue
	rp = reset -p HEAD^
	ci = commit -s
	ca = commit --amend
	can = commit --amend --no-edit
	co = checkout
	a = add -u
	l = log --oneline --topo-order
	ll = log --pretty=lineauthor --date=short --topo-order
	lfixes = log --pretty=fixes
	fixup = commit --fixup
	wip = commit -asm 'wip'
