[Desktop Entry]
Version=1.0
Name=Outlook
Comment=Outlook as a Chrome app
Exec=/opt/google/chrome/chrome --app=https://outlook.office.com/
Icon=outlook
Terminal=false
StartupWMClass=OutlookDesktop
Type=Application
